:root {
  --icon-colour: #4b4b4b;
}

@font-face {
  font-family: "product-sans";
  src: url(../assets/Product\ Sans\ Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "product-sans", sans-serif;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body > .mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 10px;
  z-index: 1;
}

.right-header {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.mail-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.title h2 {
  font-weight: 400;
}

.title p {
  border: solid 1px #000;
  border-radius: 3px;
  font-size: 0.8rem;
  padding-inline: 0.15em;
}

.star {
  width: 9%;
}
