:root {
  --icon-colour: #4b4b4b;
}

@font-face {
  font-family: "product-sans";
  src: url(../assets/Product\ Sans\ Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "product-sans", sans-serif;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body > .mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 10px;
  z-index: 1;
}

.icons svg {
  fill: var(--icon-colour);
}

.right-header {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.mail-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.title h2 {
  font-weight: 400;
}

.title p {
  border: solid 1px #e0e0e0;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding-inline: 0.15em;
  background-color: #e0e0e0;
}

.star {
  width: 9%;
}

.mail-body {
  position: relative;
  top: 40px;
}

.mail-body-header {
  display: flex;
  margin-left: 0.7em;
}

.mail-body-header-text {
  display: flex;
  justify-content: space-evenly;
  width: 72%;
  position: relative;
}

.picture img {
  height: 36px;
  width: 36px;
  background-color: #00b7ff;
  border-radius: 20px;
}

.author {
  width: 74%;
}

.author h4 {
  font-weight: 100;
  word-wrap: break-word;
}

.date {
  font-size: 0.8rem;
  color: var(--icon-colour);
  position: relative;
  top: 2px;
}

.recipient {
  position: absolute;
  top: 60%;
  left: 10px;
  font-size: 0.8rem;
  color: var(--icon-colour);
}
